.Sponsor-logos {
    display: flex;
    align-items: center;
}

#undp-logo {
    width: 50px;
    height: 103px;
}

#wpi-logo {
    width: 124px;
    height: 40px;
}

#aee-logo {
    width: 164px;
    height: 44px;
}

span {
    font-weight: bold;
}