.Sponsor-logos {
    display: flex;
    align-items: center;
}

#undp-logo {
    width: 50px;
    height: 103px;
}

#wpi-logo {
    width: 187px;
    height: 61px;
}

#aee-logo {
    width: 247px;
    height: 66px;
}