@import './global.css';

.Calculator #calc-payback {
    margin-top: 20px;
}

.Calculator input[type="number"]:invalid {
    color: rgb(241, 76, 76);
}

.Calculator .municipality-dropdown {
    width: 100%;
    box-shadow: 0px 0px 6px 0px rgba(17, 17, 17, 0.25) inset;
    font-size: var(--font-size);
}

.Calculator #solar-pv-list {
    border-collapse: collapse;
    background-color: #ffffff;
}
.Calculator #solar-pv-list thead {
    color: var(--nav-text);
}
.Calculator #solar-pv-title {
    background-color: var(--nav-background);
    padding: 10px 0px 10px 0px;
    border: 1px solid black;
}
.Calculator #solar-pv-list th:not(#solar-pv-title) {
    background-color: var(--nav-background-hover);
    border: 1px solid black;
    padding: 10px;
}
.Calculator #solar-pv-list td:not(#panel-selection) {
    border: 1px solid black;
    padding: 2px;
    text-align: center;
    min-height: 40px;
}
.Calculator #panel-selection {
    border: 1px solid black;
    margin: 0px;
    padding: 0px;
    min-height: 40px;
    height: 40px;
}
.Calculator #panel-selection button {
    background-color: #C3D3C3;
    display: inline-block;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    border: 0px;
    font-size: calc(var(--font-size) - 2pt);
    transition: 0.5s;
}
.Calculator #panel-selection button:hover {
    background-color: #93A393;
}

.Calculator #electricity-paid-period {
    margin-left: 5px;
}

.Calculator #solar-pv-scroll {
    display: inline-block;
    overflow-x: visible;
    overflow-y: scroll;
    max-height: 300px;
    border: 1px solid black;
}

.Calculator .capped-th-width {
    max-width: 180px;
}

.Calculator input:not([type="checkbox"]), .Calculator #spr-cost-per-panel-select {
    box-shadow: 0px 0px 6px 0px rgba(17, 17, 17, 0.25) inset;
    font-size: var(--font-size);
    border: none;
    border-radius: 15px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -moz-appearance: textfield;
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
}
.Calculator select {
    font-size: var(--font-size);
    border: none;
    border-radius: 15px;
    padding: 10px;
}

.Calculator summary {
    margin-bottom: 10px;
}

.Calculator .title-box {
  background-position: 0 45%;
}

.Calculator details {
    margin: 10px 10px 20px 10px;
}
.Calculator details[open] {
    background-color: var(--content-background);
}
.Calculator .detail-content {
    padding: 10px;
}
.Calculator details summary {
    background-color: var(--content-heading);
    padding: 10px;
}

.Calculator .municipality-dropdown {
    margin-bottom: 10px;
}

.Calculator .content {
    margin-top: 40px;
}

.Calculator details .Hor-flex {
    width: inherit;
}

.Calculator .spaced-result {
    margin-top: 15px;
}

.Calculator .result-spacer {
    border: 4px solid var(--content-heading);
    border-radius: 5px;
    width: 90%;
    margin-top: 15px;
    margin-bottom: 0px;
}

.Calculator #bottom-margin {
    margin-top: 10px;
    margin-bottom: 10px;
}

.Calculator .tool-tip {
    width: 400px;
    height: fit-content;
    position: absolute;
    left: calc(-200px + (var(--font-size) + 4px) / 2); /*Equal to -1/2 width + 1/2 width of .tool-button*/
    z-index: 50;
    color: rgb(210,210,210);
    background-color: rgba(0,0,0,0.75);
    padding: 10px;
    border-radius: 20px;
}

.Calculator .tool-tip-parent {
    position: relative;
}

.Calculator .tool-tip-centering {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.Calculator .tool-button {
    cursor: help;
    display: block;
    color: #fff;
    background-color: var(--nav-background);
    width: calc(var(--font-size) + 4px);
    height: calc(var(--font-size) + 4px);
    border-radius: 100%;
    font-size: var(--font-size);
    text-align: center;
    margin: 2px;
    -webkit-box-shadow: inset -2px -2px 2px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: inset -2px -2px 2px 0px rgba(0,0,0,0.5);
    box-shadow: inset -2px -2px 2px 0px rgba(0,0,0,0.5);
}

.Calculator #modal-img {
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0,0,0); /*When transparency is not supported*/
    background-color: rgba(0,0,0,0.9);
}

.Calculator .close-modal {
    position: fixed;
    top: -5px;
    right: 20px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.Calculator .close-modal:hover,
.Calculator .close-modal:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

.Calculator .modal-content {
    background-color: var(--background);
    margin: 50px 50px;
    height: 90%;
    overflow-y: auto;
}

.Calculator .selected-data-display {
    list-style-type: none;
    padding: 0;
}
.Calculator .selected-data-display li {
    margin-right: 20px;
}

.Calculator .muni-data-button {
    width: 95%;
    max-width: 95%;
    min-height: 50px;
}
.Calculator .submit-button {
    width: 200px;
    height: 50px;
}
.Calculator .submit-button, .Calculator .muni-data-button {
    border: 0;
    border-radius: 10px;
    background: none;
    background-color: var(--nav-background);
    color: var(--nav-text);
    font-size: var(--font-size);
    transition: 0.3s;
}
.Calculator .submit-button:hover, .Calculator .muni-data-button:hover {
    background-color: var(--nav-background-hover);
}

.Calculator .muni-data-view {
    display: block;
    border-radius: 15px;
    background-color: white;
    width: 100%;
}

.Calculator .selected-data-display li {
    border-radius: 10px;
    width: inherit;
    margin: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.Calculator #vertical-align-check {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.Calculator .btn-color-mode-switch {
    display: inline-block;
    margin: 0;
    margin-left: 10px;
    position: relative;
}
.Calculator .btn-color-mode-small-switch {
    margin-left: 0;
}

.Calculator .btn-color-mode-switch > label.btn-color-mode-switch-inner {
    width: 140px;
    height: 50px;
}
.Calculator .btn-color-mode-small-switch > label.btn-color-mode-small-switch-inner {
    width: 80px;
    height: 30px;
    color: black;
}
.Calculator .btn-color-mode-switch > label.btn-color-mode-switch-inner,
.Calculator .btn-color-mode-small-switch > label.btn-color-mode-small-switch-inner {
    margin: 0px;
    background: #E0E0E0;
    border-radius: 26px;
    overflow: hidden;
    position: relative;
    transition: all 250ms ease-in-out;
    box-shadow: 0px 0px 6px 0px rgba(17, 17, 17, 0.25) inset;
    display: block;
}

.Calculator .btn-color-mode-switch > label.btn-color-mode-switch-inner:before {
    top: 16px;
}
.Calculator .btn-color-mode-small-switch > label.btn-color-mode-small-switch-inner:before {
    top: 7px;
}
.Calculator .btn-color-mode-switch > label.btn-color-mode-switch-inner:before,
.Calculator .btn-color-mode-small-switch > label.btn-color-mode-small-switch-inner:before {
    content: attr(data-on);
    position: absolute;
    font-size: 12px;
    font-weight: 500;
    right: 20px;
}

.Calculator .btn-color-mode-switch > label.btn-color-mode-switch-inner:after {
    width: 70px;
    height: 30px;
    font-size: 20px;
    left: 5px;
    top: 5px;
    padding: 5px 0px;
}
.Calculator .btn-color-mode-small-switch > label.btn-color-mode-small-switch-inner:after {
    width: 40px;
    height: 16px;
    font-size: 12px;
    left: 3px;
    top: 3px;
    padding: 4px 0px;
}
.Calculator .btn-color-mode-switch > label.btn-color-mode-switch-inner:after,
.Calculator .btn-color-mode-small-switch > label.btn-color-mode-small-switch-inner:after {
    content: attr(data-off);
    background: #fff;
    border-radius: 26px;
    font-weight: 500;
    position: absolute;
    text-align: center;
    transition: all 250ms ease-in-out;
    box-shadow: 0px 0px 6px -2px #111;
}

.Calculator .btn-color-mode-switch input[type="checkbox"] {
    width: 140px;
    height: 50px;
}
.Calculator .btn-color-mode-small-switch input[type="checkbox"] {
    width: 80px;
    height: 25px;
}
.Calculator .btn-color-mode-switch input[type="checkbox"],
.Calculator .btn-color-mode-small-switch input[type="checkbox"] {
    cursor: pointer;
    opacity: 0;
    position: absolute;
    top: 0;
    z-index: 1;
    margin: 0px;
}

.Calculator .btn-color-mode-switch input[type="checkbox"]:checked + label.btn-color-mode-switch-inner:after {
    content: attr(data-on);
    left: 65px;
}
.Calculator .btn-color-mode-small-switch input[type="checkbox"]:checked + label.btn-color-mode-small-switch-inner:after {
    content: attr(data-on);
    left: 37px;
}

.Calculator .btn-color-mode-switch input[type="checkbox"]:checked + label.btn-color-mode-switch-inner:before,
.Calculator .btn-color-mode-small-switch input[type="checkbox"]:checked + label.btn-color-mode-small-switch-inner:before {
    content: attr(data-off);
    right: auto;
    left: 20px;
}

.Calculator .full-input, .full-input-modal {
    display: grid;
    grid-template-columns: 5fr 4fr 1fr;
    min-height: 60px;
    align-items: center;
    vertical-align: middle;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
    margin-top: 5px;
}
.Calculator .full-input {
    grid-template-columns: 5fr 4fr 1fr;
    width: 80%;
    min-height: 60px;
}
.Calculator .full-input-modal {
    grid-template-columns: 5fr 5fr;
    width: 50%;
    min-height: 40px;
}
.Calculator #shortened-input {
    width: 50%;
}

.Calculator .full-input > *:not(:first-child) {
    margin: auto;
}
.Calculator .full-input > *:first-child, .Calculator .full-input-modal *:first-child {
    margin-left: auto;
    margin-right: 10px;
}
.Calculator .full-input > *:not(button):first-child, .Calculator .full-input-modal *:not(button):first-child {
    text-align: right;
}
.Calculator .full-input input, .Calculator .full-input-modal input {
    height: 50px;
    padding-left: 10px;
    width: calc(100% - 10px);
}
.Calculator .input-label-align {
    display: flex;
    flex-direction: row;
    align-items: center;
}