@import './global.css';

#calc-payback {
    margin-top: 20px;
}

input[type="number"]:invalid {
    color: rgb(241, 76, 76);
}

input {
    margin-left: 8px;
}

#municipality-dropdown {
    margin-left: 8px;
    min-width: 134.8px;
    font-size: var(--font-size);
}

#solar-pv-list {
    border-collapse: collapse;
    background-color: #ffffff;
}
#solar-pv-list thead {
    color: var(--nav-text);
}
#solar-pv-title {
    background-color: var(--nav-background);
    padding: 10px 0px 10px 0px;
    border: 1px solid black;
}
#solar-pv-list th:not(#solar-pv-title) {
    background-color: var(--nav-background-hover);
    border: 1px solid black;
    padding: 10px;
}
#solar-pv-list td:not(#panel-selection) {
    border: 1px solid black;
    padding: 2px;
    text-align: center;
    min-height: 40px;
}
#panel-selection {
    border: 1px solid black;
    margin: 0px;
    padding: 0px;
    min-height: 40px;
    height: 40px;
}
#panel-selection button {
    background-color: #C3D3C3;
    display: inline-block;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    border: 0px;
}
#panel-selection button:hover {
    background-color: #93A393;
}

#solar-panel-info {
    display: table;
}
#solar-panel-info div:not(.invisible) {
    display: table-row;
}
#solar-panel-info input {
    width: 200px;
}
#electricity-paid-period {
    margin-left: 5px;
}

#solar-pv-scroll {
    display: inline-block;
    overflow-x: auto;
    overflow-y: scroll;
    max-height: 300px;
    border: 1px solid black;
}

.capped-th-width {
    max-width: 180px
}

#submit-button {
    width: 200px;
    height: 50px;
    border: none;
    background: none;
    background-color: var(--nav-background);
    color: var(--nav-text);
    font-size: var(--font-size);
}