@import './global.css';

.Calculator #calc-payback {
    margin-top: 20px;
}

.Calculator input[type="number"]:invalid {
    color: rgb(241, 76, 76);
}

.Calculator input {
    margin-left: 8px;
}

.Calculator .municipality-dropdown {
    margin-left: 8px;
    min-width: 134.8px;
    font-size: var(--font-size);
}

.Calculator #solar-pv-list {
    border-collapse: collapse;
    background-color: #ffffff;
}
.Calculator #solar-pv-list thead {
    color: var(--nav-text);
}
.Calculator #solar-pv-title {
    background-color: var(--nav-background);
    padding: 10px 0px 10px 0px;
    border: 1px solid black;
}
.Calculator #solar-pv-list th:not(#solar-pv-title) {
    background-color: var(--nav-background-hover);
    border: 1px solid black;
    padding: 10px;
}
.Calculator #solar-pv-list td:not(#panel-selection) {
    border: 1px solid black;
    padding: 2px;
    text-align: center;
    min-height: 40px;
}
.Calculator #panel-selection {
    border: 1px solid black;
    margin: 0px;
    padding: 0px;
    min-height: 40px;
    height: 40px;
}
.Calculator #panel-selection button {
    background-color: #C3D3C3;
    display: inline-block;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    border: 0px;
    font-size: calc(var(--font-size) - 2pt);
    transition: 0.5s;
}
.Calculator #panel-selection button:hover {
    background-color: #93A393;
}

.Calculator #solar-panel-info input {
    width: 200px;
}
.Calculator #electricity-paid-period {
    margin-left: 5px;
}

.Calculator #solar-pv-scroll {
    display: inline-block;
    overflow-x: visible;
    overflow-y: scroll;
    max-height: 300px;
    border: 1px solid black;
}

.Calculator .capped-th-width {
    max-width: 180px;
}

.Calculator input {
    font-size: var(--font-size);
    min-width: 300px;
    border: none;
    border-radius: 15px;
    padding: 10px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -moz-appearance: textfield;
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
}
.Calculator select {
    font-size: var(--font-size);
    border: none;
    border-radius: 15px;
    padding: 10px;
}

.Calculator summary {
    margin-bottom: 10px;
}

.Calculator .title-box {
  background-position: 0 45%;
}

.Calculator details {
    margin: 10px 10px 20px 10px;
}
.Calculator details[open] {
    background-color: var(--content-background);
}
.Calculator .detail-content {
    padding: 10px;
}
.Calculator details summary {
    background-color: var(--content-heading);
    padding: 10px;
}

.Calculator .municipality-dropdown {
    margin-bottom: 10px;
}

.Calculator .content {
    margin-top: 40px;
}

.Calculator form div, .Calculator #solar-panel-info .Hor-flex {
    margin-bottom: 5px;
    margin-top: 5px;
}

.Calculator .spaced-result {
    margin-top: 15px;
}

.Calculator .result-spacer {
    border: 4px solid var(--content-heading);
    border-radius: 5px;
    width: 90%;
    margin-top: 15px;
    margin-bottom: 0px;
}

.Calculator #bottom-margin {
    margin-top: 10px;
    margin-bottom: 10px;
}

.Calculator .tool-tip {
    width: 400px;
    height: fit-content;
    position: absolute;
    left: calc(-200px + (var(--font-size) + 4px) / 2); /*Equal to -1/2 width + 1/2 width of .tool-button*/
    z-index: 50;
    color: rgb(210,210,210);
    background-color: rgba(0,0,0,0.75);
    padding: 10px;
    border-radius: 20px;
}

.Calculator .tool-tip-parent {
    position: relative;
}

.Calculator .tool-tip-centering {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.Calculator .tool-button {
    cursor: help;
    display: block;
    color: #fff;
    background-color: var(--nav-background);
    width: calc(var(--font-size) + 4px);
    height: calc(var(--font-size) + 4px);
    border-radius: 100%;
    font-size: var(--font-size);
    text-align: center;
    margin: 2px;
    -webkit-box-shadow: inset -2px -2px 2px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: inset -2px -2px 2px 0px rgba(0,0,0,0.5);
    box-shadow: inset -2px -2px 2px 0px rgba(0,0,0,0.5);
}

.Calculator #modal-img {
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0,0,0); /*When transparency is not supported*/
    background-color: rgba(0,0,0,0.9);
}

.Calculator .close-modal {
    position: fixed;
    top: -5px;
    right: 20px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.Calculator .close-modal:hover,
.Calculator .close-modal:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

.Calculator .modal-content {
    background-color: var(--background);
    margin: 50px 50px;
    height: 90%;
    overflow-y: auto;
}

.Calculator .selected-data-display {
    list-style-type: none;
    padding: 0;
}
.Calculator .selected-data-display li {
    margin-right: 20px;
}

.Calculator .muni-data-button {
    width: auto;
    height: 50px;
}
.Calculator .submit-button {
    width: 200px;
    height: 50px;
}
.Calculator .submit-button, .Calculator .muni-data-button {
    border: 0;
    border-radius: 10px;
    background: none;
    background-color: var(--nav-background);
    color: var(--nav-text);
    font-size: var(--font-size);
    transition: 0.3s;
}
.Calculator .submit-button:hover, .Calculator .muni-data-button:hover {
    background-color: var(--nav-background-hover);
}

.Calculator .muni-data-view {
    border-radius: 15px;
    background-color: white;
    padding: 10px;
    margin-right: 10px;
    width: 60vw;
}

.Calculator .selected-data-display li {
    border-radius: 10px;
    width: inherit;
    margin: 5px;
    padding-left: 10px;
}