body {
  background-color: whitesmoke;
  color: royalblue;
}

.Nav-bar ul {
  display: flex;
  grid-auto-flow: column;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  padding-left: 0;
}

.App-header {
  display: grid;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.App-header h1 {
  grid-row: 1;
}

.App-header .Nav-bar {
  grid-row: 2;
}

#undp-logo {
  width: 34px;
  height: 69px;
}