body {
  background-color: rgb(198, 196, 255);
  color: royalblue;
}

.Nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Nav-bar ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}
.Nav-bar ul li {
  border: 2px solid black;
  width: 100px;
}
.Nav-bar ul li a {
  display: flex; justify-content: space-evenly;
  font-size: larger;
  text-decoration: none;
}

#undp-logo {
  width: 256px;
  height: 171px;
}