.Help #help-panel-table {
    width: 75%;
    height: 75%;
}

.Help .content section div div {
    margin-right: 50px;
}

.Help .content li,
.Help .content .or-spacing {
    margin-bottom: 10px;
}
.Help .content img {
    border: 8px solid var(--nav-background);
    border-radius: 16px;
}

.Help .title-box {
  background-position: 0 50%;
}

.Help .centering {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Help .indented {
    margin-left: 40px;
}

.Help .undotted {
    list-style-type: none;
}

.Help .bottom-spacing {
    height: 20px;
    min-height: 20px;
    max-height: 20px;
    display: block;
    width: 100%;
}