#solar-map {
    width: 600px;
    height: 450px;
    border: none;

}

details {
    padding-left: 10px;
}

.h2resources {
    color:black;
    font-size:300%;
    text-align: center;
    border:3px solid #9fb0c4;
    border-radius: 25px;
    margin-left:250px;
    margin-right:250px;
    background-color: #9fb0c4;
}

#center{
    text-align: justify;
}

.largerfontb {
    font-size: 250%;
    text-align: center;
}
.largerfont2b {
    font-size:120%;
    text-align: center;
}

h3 {
    padding-left: 35px;
}

.li-1 {
    padding-left: 35px;
    margin-left: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: left;
}

.l1-2 {
    padding-left: 35px;
    margin-left: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: left;
}

.p-text {
    padding-left: 70px;
    padding-right: 50px;
    text-align: left;
}

#something {
    padding-left: 35px;
}

#imagefloat {
    margin-right: 95px;
    margin-bottom: 50px;
    margin-left: 20px;
    margin-top: 30px;
    float:right;
    border : 2px solid black;
    border-radius: 25px;

}

#imagefloat2 {
    margin-right: 70px;
    margin-bottom: 50px;
    margin-left: 20px;
    margin-top: 90px;
    float:right;
    border : 2px solid black;
    border-radius: 25px;
}

#imagefloat3 {
    margin-right: 50px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-top: 20px;
    float:left;
    border : 2px solid black;
    border-radius: 25px;
}

#imagefloat4 {
    border : 10px solid #9fb0c4;
    border-radius: 75px;
}

b {
    line-height: 50px;
}

#bfix{
    line-height: 0px;
}

iframe {
    padding-left: 35px;
}

.div5 {
    background-color: #9fb0c4;
    border-radius: 25px;
    border: 2px solid #9fb0c4;
    margin-left:70px;
    margin-right:70px;
    margin-top:30px;
    margin-bottom:30px;


    padding-bottom: 10px;
}

.column {
    float: left;
    width: 33%;
    padding: 5px;
    margin:30px;
    padding-left: 65px;
  }
  
  .row::after {
    content: "";
    clear: both;
    display: table;
  }