#solar-map {
    width: 600px;
    height: 450px;
    border: none;

}

body { font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }

#div{
    margin:100px;
}


#h2resources{
    color: black;
    font-size:300%;
    text-align: center;
    border:3px solid #9fb0c4;
    border-radius: 25px;
    margin-left:250px;
    margin-right:250px;
    background-color: #9fb0c4;

}

#center{
    text-align: justify;
}

#largerfontb{
    font-size:250%;
    text-align: center;


}
#largerfont2b{
    font-size:120%;
    text-align: center;


}

h3{
    padding-left: 35px;
}

#li{
    padding-left: 35px;
    margin-left: 50px;
    margin-right: 510px;
    padding-top: 20px;
}

#li2{
    padding-left: 35px;
    margin-left: 50px;
    padding-top: 20px;
    margin-right: 50px;


}

p{
    padding-left: 35px;
    margin-left: 50px;
    margin-right: 50px;
    text-align: justify;
}
#p{
    padding-left: 35px;
    margin-left: 50px;
    margin-right: 600px;
    text-align: justify;

}


#something{
    padding-left: 35px;
}

#imagefloat{
    margin-right: 105px;
    margin-bottom: 50px;
    margin-left: 20px;
    margin-top: 20px;

    float:right;
    border : 2px solid black;
    border-radius: 25px;

}

#imagefloat2{
    margin-right: 70px;
    margin-bottom: 50px;
    margin-left: 20px;
    margin-top: 90px;
    float:right;
    border : 2px solid black;
    border-radius: 25px;

}

#imagefloat3{
    margin-right: 50px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-top: 20px;
    float:left;
    border : 2px solid black;
    border-radius: 25px;


}

b{
    line-height: 50px;
}

iframe{
    padding-left: 35px;

}

#div5{
    background-color: #9fb0c4;
    border-radius: 25px;
    border: 2px solid #9fb0c4;
    margin:70px;

}
